.zona {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 12px;
}

.squad-grid {
	border: 1px solid #ccc;
	padding: 5px;
	margin-top: 15px;
}

.zona h5 {
    margin-top: 0px !important;
}

.form-group .radio-inline,
.form-group .checkbox-inline {
	padding-top: 7px;
}

.capitalize:first-letter {
	text-transform: capitalize;
	color: #000;
}

 .glyphicon.spin-r {
  	-webkit-animation: glyphicon-spin-r 1s infinite linear;
  	animation: glyphicon-spin-r 1s infinite linear;
}


.clear-both { clear: both; }

.separe-right {margin-right: 5px;}

.nivel1 {background-color: #FFF;}
.nivel2 {background-color: #FAFAFA;}
.nivel3 {background-color: #F7F7F7;}

textarea.x2 {
	height: 200px;
}

textarea {
	resize: vertical;
}

td.input,
td.select {
	padding: 0px !important;
}

td.input input,
td.select select {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  padding-left: 10px;
}

td.input input[type="checkbox"] {
	margin-top: 0px;
	padding: auto;
	width: auto;
}

@-webkit-keyframes spin-r {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}

	100% {
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
}

@keyframes glyphicon-spin-r {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}

	100% {
	  -webkit-transform: rotate(359deg);
	  transform: rotate(359deg);
	}
}


div.ajaxloader {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.6);
	z-index: 1000;
}

div.ajaxloader span {
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: -70px;
	color: #54b4eb;
	text-shadow: 1px 1px 2px #DDD;
}

div.ajaxloader .ball-scale-multiple
{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -15px;
} 

div.ajaxloader .ball-scale-multiple>div
{
	background-color: #54b4eb;
}

div.next {
	position: relative;
}

div.next:after {
	content: ">";
	position: absolute;
	right: -5px;
	top: 52%;
	color: #ccc;
	font-weight: bold;
}

p.lead {
	font-size: 15px !important;
}

div.center {
	text-align: center;
}

div.resaltar {
	padding: 20px 0px;
	background-color: #fcfcfc;
}

div.oculto {
	display: none;
}

.festivo a
{
	background-color: #1E88E5 !important;
	color: #fff !important;
}


@media (min-width: 1200px){
  .container {
    width: 80%;
  }
}



@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
    width: 100%;
	margin: 60px auto;
	height: 500px;
	background: #fff;
	/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 13px solid transparent;
    border-bottom-color: #2fa4e7;

    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}



.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
   
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body {
    padding: 20px 5px;
}
.card-title {
   text-transform: uppercase;
    font-size: 24px;
}
.card-img-top{
    width: 35px;
    position: absolute;
    right: 20px;
}


tfoot input 
    {
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
    }

table.table-min {
  font-size: 12px;
} 

table.dataTable tfoot th, 
table.dataTable tfoot td,
table.dataTable thead th, 
table.dataTable thead td {
  padding: 2px 2px;
}





.tama{
  width: 50px;
}


p.card-text {
    height: 60px;

}

.card-body {
    height: 183px;
}

.list-group-item:last-child {
    padding: 0;
}


.list-group {
    margin-bottom: 5px;
}

.labelDatos{
        font-size: 14px;
}

.badge2{
    margin-bottom: 15px;
    margin-top: 14px;
}